# Ignore vcpkg build outputs (but not the submodule itself)
external/vcpkg/vcpkg*
external/vcpkg/buildtrees/
external/vcpkg/packages/
external/vcpkg/installed/
external/vcpkg/downloads/
build/
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
vcpkg_installed/
external/